@use "../partials/fonts" as f;
@use "../partials/colors" as c;

.hero-section .hero-title {
    font-family: f.$font-primary !important;
    font-weight: 600 !important;
    font-size: 84px !important;
    margin-bottom: 10rem !important;
    width: 1191px !important;
    margin-left: 156px !important;
    color: c.$primary-text !important;
    line-height: 1.2 !important;
    margin-top: 0 !important;
    text-align: left !important;
    letter-spacing: normal !important;
}

.hero-image {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    & img {
        width: 1487px;
        height: auto;
    }
}