@use "../partials/fonts" as f;
@use "../partials/colors" as c;

.hero-title {
    font-weight: 600;
    font-size: 84px;
    margin-bottom: 10rem;

}

.hero-image {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    & img {
        width: 1487px;
        height: auto;
    }
}