@use "../partials/fonts" as f;
@use "../partials/colors" as c;

.about-section {
    padding: 20px 0;

    @media (min-width: 576px) {
        padding: 40px 0;
    }

    @media (min-width: 1200px) {
        padding: 80px 0;
    }

    .about-wrapper {
        justify-content: center;
        align-items: center;
    }

    .about-content {
        max-width: 300px;
        text-align: center;
        text-align: left;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 450px) {
            max-width: 400px;
        }

        @media (min-width: 576px) {
            max-width: 500px;
        }

        @media (min-width: 768px) {
            max-width: 650px;

        }

        @media (min-width: 1200px) {
            max-width: 914px;
        }
    }

    .about-title {
        @include f.title-section;

    }

    .about-subtitle {
        @include f.mulish-medium;
        font-size: 1.5rem;
        color: c.$light-grey;
        margin-bottom: 2rem;
    }

    .about-text {
        @include f.mulish-regular;
        font-size: 26px;
        font-weight: 400;
        line-height: 42px;
        color: #8A8A8A;
        letter-spacing: 0px;
        margin-bottom: 3rem;

        @media (min-width: 1200px) {
            margin-bottom: 7rem;
        }

        p {
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .about-us-information {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width: 576px) {
            flex-direction: row;
        }

        & img {
            width: 300px;

            @media (min-width: 768px) {
                width: 360px;
            }

            @media (min-width: 992px) {
                width: 460px;
            }

            @media (min-width: 1200px) {
                width: 560px;
            }

            @media (min-width: 1400px) {
                width: 660px;
            }
        }

        &-text {
            max-width: 270px;

            @media (min-width: 576px) {
                margin-left: 2rem;
            }

            @media (min-width: 622px) {
                margin-left: 2rem;
                max-width: 290px;
            }

            @media (min-width: 768px) {
                margin-left: 4rem;
                max-width: 340px;
            }

            @media (min-width: 992px) {
                margin-left: 6rem;
                max-width: 420px;
            }

            @media (min-width: 1200px) {
                margin-left: 8rem;
                max-width: 400px;
            }

            @media (min-width: 1400px) {
                margin-left: 12rem;
                max-width: 500px;
            }

            div {
                margin-bottom: 1rem;

                @media (min-width: 768px) {
                    margin-bottom: 3rem;
                }

                @media (min-width: 1200px) {
                    margin-bottom: 4rem;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h3 {
                font-weight: 600;
                font-size: 37px;
                color: c.$primary-text;
                line-height: 100%;
                letter-spacing: 0px;
                margin-bottom: 1rem;

                @media (min-width: 576px) {
                    font-size: 27px;
                }

                @media (min-width: 768px) {
                    font-size: 37px;
                }

                @media (min-width: 1200px) {
                    font-size: 47px;
                }
            }
        }
    }
}