@use "../partials/fonts" as f;
@use "../partials/colors" as c;

.hero-section {
    width: 100%;
    overflow-x: hidden;
}

.hero-content {
    width: 85vw;
    margin: 0 auto;
}

.hero-title {
    @include f.title-section;
    margin-bottom: 2rem;

    @media (min-width: 410px) {
        margin-bottom: 3rem;
    }


    @media (min-width: 1400px) {
        margin-bottom: 10rem;
    }
}



.hero-image {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;

    & img {
        width: 300px;
        height: auto;
    }

    @media (min-width: 450px) {
        img {
            width: 400px;
        }
    }

    @media (min-width: 576px) {
        img {
            width: 500px;
        }
    }

    @media (min-width: 768px) {
        img {
            width: 600px;
        }
    }

    @media (min-width: 900px) {
        img {
            width: 800px;
        }
    }

    @media (min-width: 1150px) {
        img {
            width: 1000px;
        }
    }

    @media (min-width: 1400px) {
        img {
            width: 1200px;
        }
    }

    @media (min-width: 1700px) {
        img {
            width: 1487px;
        }
    }
}